-- Add is_absent column to team_members
ALTER TABLE team_members ADD COLUMN IF NOT EXISTS is_absent BOOLEAN DEFAULT FALSE;

-- Add comment
COMMENT ON COLUMN team_members.is_absent IS 'Whether the team member is currently absent';

